
.progress{
  position: fixed;
    height: 2px;
    top: 0px;
    display: block;
    width: 100%;
    background-color: #ff9100;
    border-radius: 2px;
    margin: 0.1rem 0 0rem 0;
    overflow: hidden;
    z-index: 999;
}
