
button:focus{
  outline:none;
}

.container{
  width:300px;
  height:500px;
  box-shadow:0px 2px 4px rgba(0,0,0,0.3);
  background:white;
  margin:20px auto;
  display:flex;
  flex-direction:column;
  align-items:center;
  border-radius:3px;
  overflow:hidden;
}

.header{
  width:100%;
  background-color:#4285F4;
  height:45%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
}

.header-text{
  color:white;
  font-size:16px;
  font-family: 'Roboto', sans-serif;
  line-height:1.6em;
  text-shadow:0px 2px 4px rgba(0,0,0,0.3);
  margin-top:15px;
}

.fab{
  background-color:#EA4335;
  font-weight:300;
  color:white;
  font-size:18px;
  border-radius:50%;
  height:50px;
  width:50px;
  border:none;
  box-shadow:0px 1px 2px rgba(0,0,0,0.5);
  transform:translateY(-25px);
}

.fab:hover,.fab:focus{
  box-shadow:0px 4px 8px rgba(0,0,0,0.5);
}

.content{
  padding:10px 20px;
  width:80%;
  transform:translateY(-25px);
}

.content-text{
  font-size:16px;
  font-family: 'Roboto', sans-serif;
  line-height:1.6em;
  /*text-shadow:0px 2px 4px rgba(0,0,0,0.3); looks better on colored backgrounds*/
}

#profile-picture{
  height:100px;
  border-radius:50%;
  width:100px;
  overflow:hidden;

}

#profile-picture-full{
  pointer-events:none;
}

#profile-picture-overlay{
  height:100px;
  border-radius:50%;
  width:100px;
  position: absolute;
  z-index:99;
  background-color:rgba(0,0,0,0.6);
  margin-top:-20px;
  display:flex;
  align-items:center; justify-content:center;
  color:white;
  font-size:14px;
  font-family: 'Roboto', sans-serif;
  line-height:1.6em;
  display:none;
}

#profile-picture:hover~#profile-picture-overlay{
  display:flex;
}
#profile-picture-overlay:hover{
  display:flex;
}

#grey-overlay{
  z-index:99;
  position:fixed;
  left:0px; right:0px; top:0px; bottom:0px;
  width:100vw;
  height:100vh;
  background-color:rgba(0,0,0,0.5);
  display:flex;
  align-items:center; justify-content:center;
}

.info{
  margin-top:10px;
}

.info-type{
  font-size:16px;
  font-family: 'Roboto', sans-serif;
  line-height:1.6em;
  font-weight:600;
  color:rgba(0,0,0,0.8)
}

.info-data{
  font-size:16px;
  font-family: 'Roboto', sans-serif;
  line-height:1.6em;
  float:right;
  color:grey;
}

#social-media{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-top:20px;
}

#social-media-links{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center; justify-content:center;
  width:100%;
  height:100%;
  margin-top:5px;
}

.social-media-btn{
  border-radius:50%;
  height:40px;  width:40px;
  font-size:20px;
  color:white;
  border:none;
  background-color:#383838;
  text-shadow:0px 2px 4px rgba(0,0,0,0.3);
}

.social-media-btn:hover{
  animation: pulse 1.25s cubic-bezier(0.66, 0, 0, 1)
}
.social-media-btn:focus{
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1)
}



#facebook{
  background-color:#3C5A99;
  box-shadow:0 0 0 0 #3C5A99;
}

#instagram{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  margin-left:10px;
  box-shadow:0 0 0 0 #d6249f;

}

#twitter{
  background-color:#20B8FF;
  margin-left:10px;
  box-shadow:0 0 0 0 #20B8FF;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 10px transparent;
  }
}
