<div class="row">

  <div class="col s12 m5 blue lighten-4">
    <style>
      @import url('https://fonts.googleapis.com/css?family=Roboto');
    </style>

    <div class="container">
      <div class="header">
        <img id="profile-picture" src="https://gyazo.com/db9f7075f60979081a9da8ec47453bec.png" />
        <div id="profile-picture-overlay">
          <span>Full Size</span>
        </div>
        <span class="header-text">John Smith, 20 Y/O</span>
      </div>
      <button class="fab" type="file" tab-index="0">
        <span class="fa fa-pencil"></span>
      </button>
      <div class="content">
        <!--<h class="content-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores </h>-->
        <div class="info">
          <span class="info-type">Email</span>
          <span class="info-data">john.smith@gmail.com</span>
        </div>
        <div class="info">
          <span class="info-type">Phone</span>
          <span class="info-data">+1 234 567 890</span>
        </div>
        <div class="info">
          <span class="info-type">Address</span>
          <span class="info-data">123 6th St. Melbourne
          </span>
        </div>
        <div id="social-media">
          <span class="info-type">Get In Touch!
            <span class="fa fa-hand-o-left"></span>
          </span>
          <div id="social-media-links">
            <button id="facebook" class="social-media-btn" title="Facebook" tab-index="1">
              <span class="fa fa-facebook-official"></span>
            </button>
            <button id="instagram" class="social-media-btn" title="Instagram" tab-index="2">
              <span class="fa fa-instagram"></span>
            </button>
            <button id="twitter" class="social-media-btn" title="Twitter" tab-index="3">
              <span class="fa fa-twitter"></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="grey-overlay" style="display:none;">
      <img id="profile-picture-full" src="https://gyazo.com/db9f7075f60979081a9da8ec47453bec.png" />
    </div>


  </div>

  <div class="col s12 m7 green darken-3">
    <!-- Note that "m8 l9" was added -->
    <!-- Teal page content

              This content will be:
          9-columns-wide on large screens,
          8-columns-wide on medium screens,
          12-columns-wide on small screens  -->

  </div>

</div>
