<div class="container fadeIn animated">
  <h6>PAY YOUR DTH BILL</h6>
  <span>Give us a few details and will do the rest</span>
  <div class="col s12 m3 mr-top-15">
    <select class="icons col s6 displayinline">
      <option value="" disabled selected>DTH Operator</option>
      <option value="" data-icon="images/sample-1.jpg">Airtel Digital TV</option>
      <option value="" data-icon="images/office.jpg">Reliance Digital TV</option>
      <option value="" data-icon="images/yuna.jpg">Dish Tv</option>
      <option value="" data-icon="images/yuna.jpg">Tata Sky</option>
      <option value="" data-icon="images/yuna.jpg">Sun Direct</option>
      <option value="" data-icon="images/yuna.jpg">Videocon D2H</option>
    </select>
  </div>
  <div class="col s12">
    <div class="col s12 mr-top-15 ">
      <div class="row mr-bt-0">
        <div class="input-field col s4 mr-bt-0">
          <input id="last_name" type="tel" class="validate">
          <label for="last_name">Smart Card Number</label>
        </div>
      </div>
    </div>

    <div class="row mr-top-15">
      <div class="col s6">
        <a class="waves-effect orange darken-3 waves-light btn">Proceed</a>
      </div>
    </div>
  </div>
</div>
<hr>
<app-offer [offerDescription]="'Offers on DTH Recharge'" [limit]="3"></app-offer>
<hr>
<app-info></app-info>
