.page-footer .footer-copyright{
  background: #fff;
  padding:5px 0;
  p{
    border-top: 1px solid #ddd;
    color: #666;
    font-size: 13px;
    padding: 10px 0;
  }
}

.links{
  display:flex;
  flex-direction: column;
  font-size: 13px;
  a:hover{color:#fff !important;}
    
}
footer{
  background:#094b75 url('../../../assets/bg-pattern.png') repeat;
  h6{
    color: #bfda0a;
    font-weight: 800;
  }
}

.footersign{
  text-align: left;
  padding: 5px 0;
  font-size: 12px;
  margin:0 auto;
  color:#094b75;
  span{
    font-size: 13px;
    font-weight: 700;
    color: #094b75;
    text-transform: uppercase;
    padding: 6px 18px 6px 0;
    border-right: 1px solid #ddd;
    margin-right:15px;
  }
  a{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    img{
     width: 60px;
    margin-right: 20px;
    }
  }
  img{
      vertical-align: middle;
      width: 60px;
      margin-right: 20px;
  }
  .secured{
    margin-left: 18px;
  }
}
.font-size-12{
  font-size:12px;
}

