<footer class="page-footer grey-text text-lighten-3">
  <div class="container">
    <div class="row grey-text text-darken-3">
      <div class="col l2 s12">
        <h6>MOBILE RECHARGE</h6>
        <ul class="links">
          <li>
            <a class="grey-text text-lighten-1" href="#!">Airtel</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Aircel</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Vodafone</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">BSNL</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Tata Docomo GSM</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Idea</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">indicom Walky</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">MTNL Delhi</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Reliance CDMA</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Reliance GSM</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Tata Indicom</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Telenor</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">MTS</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Videocon</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Virgin CDMA</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Virgin GSM</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Tata Docomo CDMA</a>
          </li>
        </ul>
      </div>
      <div class="col l2 s12">
        <h6>DATA CARD RECHARGE</h6>
        <ul class="links">
          <li>
            <a class="grey-text text-lighten-1" href="#!">Tata Photon</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">MTS MBlaze</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">MBrowse</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Airtel</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">BSNL</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Aircel</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">MTNL Delhi</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Vodafone</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Idea</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">MTNL Mumbai</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Tata Photon Whiz</a>
          </li>
        </ul>
      </div>
      <div class="col l2 s12">
        <h6>DTH(TV) RECHARGE</h6>
        <ul class="links">
          <li>
            <a class="grey-text text-lighten-1" href="#!">Airtel Digital TV</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Reliance Digital TV</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Dish TV</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Tata Sky</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Sun Direct</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Videocon D2H</a>
          </li>
        </ul>
      </div>
      <div class="col l2 s12">
        <h6>POSTPAID</h6>
        <ul class="links">
          <li>
            <a class="grey-text text-lighten-1" href="#!">Airtel Bill Payment</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">BSNL Bill Payment</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Tata Docomo GSM Bill Payment</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Tata Docomo CDMA Bill Payment</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Idea Bill Payment</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Vodafone Bill Payment</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Reliance GSM Bill</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Reliance CDMA Bill</a>
          </li>
        </ul>
      </div>
      <div class="col l2 s12">
        <h6>Baggge</h6>
        <ul class="links">
          <li>
            <a class="grey-text text-lighten-1" href="#!">About Us</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Support</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Contact Us</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Sitemap</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">T & C</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Blog</a>
          </li>
        </ul>
      </div>
      <div class="col l2 s12">
        <h6>Mobile</h6>
        <ul class="links">
          <li>
            <a class="grey-text text-lighten-1" href="#!">Andriod App</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Windows</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Mobile Site</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">iOS</a>
          </li>
        </ul>
      </div>
      <div class="col l2 s12">
        <h6>Join Us</h6>
        <ul class="links">
          <li>
            <a class="grey-text text-lighten-1 pulse" href="#!">Facebook</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Twitter</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Google+</a>
          </li>
        </ul>
      </div>
    </div>    
  </div>
  <div class="footer-copyright">
      <div class="container">
      <div class="footersign">
          <span data-reactid=".0.4.0.7.0">Download the app</span>
          <a target="_blank" href="#">
            <img src="./assets/google-play.png" alt="Google play">
          </a>
          <a target="_blank" href="#">
            <img src="./assets/app-store-icon.png" alt="App Store">
          </a>
          <a target="_blank" href="#">
            <img src="./assets/windows-store-btn.png" alt="Windows Store">
          </a>
          <span class="secured">secured</span>
          <img src="./assets/visa.png" alt="VISA">
          <img src="./assets/mastercrd.png" alt="MasterCard">
          <a href="https://sisainfosec.com/site/certificate/87806617098910504016" target="_blank">
            <img src="./assets/secure.png" alt="SecureScan">
          </a>
          <a href="https://www.globalsign.com/en/" target="_blank">
            <img src="./assets/geotrust.png" alt="GeoTrust">
          </a>
        </div>
      <p>© Baggge Payment Technologies Pvt. Ltd. All Rights Reserved.</p>
    </div>
  </div>
</footer>
