.page-footer .footer-copyright{
  min-height: 20px;
  font-size: 12px;
  padding:5px 0;
}

.links{
  display:flex;
  flex-direction: column;
  font-size: 10px;
}
footer{
  background-color: #fff!important;
  border-top: 1px solid #f2f2f2;
}

.footersign{
  text-align: left;
  padding: 25px 0;
  font-size: 12px;
  margin:0 auto;
  color:black;
  span{
    font-size: 10px;
    text-transform: uppercase;
    padding: 6px 18px 6px 0;
    border-right: 1px solid #a4a9ac;
    margin-right:15px;
  }
  a{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    img{
     width: 50px;
    margin-right: 28px;
    }
  }
  img{
      vertical-align: middle;
    margin-right: 15px;
   width: 50px;
    margin-right: 28px;
  }
  .secured{
    margin-left: 18px;
  }
}
.font-size-12{
  font-size:12px;
}

