
.typepayment{
    padding-top:2rem;
}

.container{
    margin: 1rem 4rem;
    h6{
        margin-bottom:0.1rem;
    }
    span{
        font-size: small;
    }
}

.mr-bt-0{
    margin-bottom:0px;
}
.pad-left-0{
    padding-left:0px;
}