.column {
    height: 43vh;  /*allows both columns to span the full height of the browser window*/
    display: flex;
    flex-direction: column;  /*places the left and right headers above the bottom content*/
}

#left {
    flex-shrink: 0;
    flex:1;
    background:#eeeeee ;
    height:100%;  /*makes sure that content is not cut off in a smaller browser window*/
}
.main{
    display: flex;
    height: 100vh;
    flex-direction: row;
}
ul {
    display: inline-flex;
    list-style: none;
}
#right{
    flex:7;
    background:#fff;
    height:100%;
    padding:10px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}
.bottom {
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto;  /*adds scroll to this container*/
}

a{
    span{
        padding: 10px;
        vertical-align: text-bottom;
    }
}

.collection{
    margin:0px;
    font-size: 12px;
}
.collection-item:hover{
     background:#fb8c00;
      color:white;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}
::-moz-scrollbar{
   width: 0px;  /* remove scrollbar space */
    background: transparent;
}
.page-footer .footer-copyright{
  min-height: 20px;
  font-size: 12px;
  padding:5px 0;
}

.links{
  display:flex;
  flex-direction: column;
  font-size: 10px;
}
footer{
  background-color: #fff!important;
  border-top: 1px solid #f2f2f2;
}

.font-size-12{
  font-size:12px;
}


.footersign{
  text-align: left;
  padding: 25px 0;
  font-size: 12px;
  margin:0 auto;
  color:black;
  span{
    font-size: 10px;
    text-transform: uppercase;
    padding: 6px 18px 6px 0;
    border-right: 1px solid #a4a9ac;
    margin-right:15px;
  }
  a{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    img{
     width: 50px;
    margin-right: 28px;
    }
  }
  img{
      vertical-align: middle;
    margin-right: 15px;
   width: 50px;
    margin-right: 28px;
  }
  .secured{
    margin-left: 18px;
  }
}

.open{
  z-index: 1003;
  display: block;
  opacity: 1;
  top: 5%;
  transform: scaleX(1) scaleY(1);
}
.modal-content{
.loginpanel{
  display: block;
  margin:0 auto;
  width:56%;
  vertical-align: middle;
  margin-left:auto;
}
li.tab.col.s3{
  margin-left:0px;
  text-align: left;
}
.tabs{
  background: transparent;
}
.forgotpanel{
  display:flex;
  font-size: 12px;
  margin-bottom: 12px;
}
.loginwith{
    padding: 10px 20px;
    background: transparent url(/desktop/images/gplus-icon.png) no-repeat 16px;
    background-size: 22px auto;
    margin-top: 1rem;
    margin-bottom: 4rem;
    cursor: pointer;
}
.facebook{
  border:1px solid #607ecb;
  color: #607ecb;
}
.google{
   border: 1px solid #e24545;
   color: #e24545;
   margin-left:10px;
}
.or{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 13px;
}
form{
  margin-top:2rem;
}
}

.progress{
  position: fixed;
    height: 2px;
    top: 0px;
    display: block;
    width: 100%;
    background-color: #ff9100;
    border-radius: 2px;
    margin: 0.1rem 0 0rem 0;
    overflow: hidden;
    z-index: 999;
}
