<div class="navbar-fixed">
  <nav class="grey lighten-5">

    <div class="nav-wrapper">
      <a href="#!" class="brand-logo grey-text text-darken-3">
        <!-- <span>Baggge.com</span> -->
      </a>
      <ul class="right hide-on-med-and-down grey-text text-darken-3">
        <li>
          <a (click)="loginModal()" class="grey-text text-darken-3">Login/Register</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="main">
  <div id="left" class="column">
    <div class="collection">
      <a *ngFor="let menu of menuList" [routerLink]="menu.link" class="collection-item grey lighten-4 grey-text text-darken-3">
        <i class="material-icons">{{menu.font}}</i>
        <span>{{menu.name}}</span>
      </a>
    </div>
  </div>
  <div id="right" class="column">
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="page-footer grey-text text-lighten-3">
  <div class="container">
    <div class="row grey-text text-darken-3">
      <div class="col l2 s12">
        <span class="grey-text font-size-12">MOBILE RECHARGE</span>
        <ul class="links">
          <li>
            <a class="grey-text text-lighten-1" href="#!">Airtel</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Aircel</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Vodafone</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">BSNL</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Tata Docomo GSM</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Idea</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">indicom Walky</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">MTNL Delhi</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Reliance CDMA</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Reliance GSM</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Tata Indicom</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Telenor</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">MTS</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Videocon</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Virgin CDMA</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Virgin GSM</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Tata Docomo CDMA</a>
          </li>
        </ul>
      </div>
      <div class="col l2 s12">
        <span class="grey-text font-size-12">DATA CARD RECHARGE</span>
        <ul class="links">
          <li>
            <a class="grey-text text-lighten-1" href="#!">Tata Photon</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">MTS MBlaze</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">MBrowse</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Airtel</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">BSNL</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Aircel</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">MTNL Delhi</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Vodafone</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Idea</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">MTNL Mumbai</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Tata Photon Whiz</a>
          </li>
        </ul>
      </div>
      <div class="col l2 s12">
        <span class="grey-text font-size-12">DTH(TV) RECHARGE</span>
        <ul class="links">
          <li>
            <a class="grey-text text-lighten-1" href="#!">Airtel Digital TV</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Reliance Digital TV</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Dish TV</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Tata Sky</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Sun Direct</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Videocon D2H</a>
          </li>
        </ul>
      </div>
      <div class="col l2 s12">
        <span class="grey-text font-size-12">POSTPAID</span>
        <ul class="links">
          <li>
            <a class="grey-text text-lighten-1" href="#!">Airtel Bill Payment</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">BSNL Bill Payment</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Tata Docomo GSM Bill Payment</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Tata Docomo CDMA Bill Payment</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Idea Bill Payment</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Vodafone Bill Payment</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Reliance GSM Bill</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Reliance CDMA Bill</a>
          </li>
        </ul>
      </div>
      <div class="col l2 s12">
        <span class="grey-text font-size-12">Baggge</span>
        <ul class="links">
          <li>
            <a class="grey-text text-lighten-1" href="#!">About Us</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Support</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Contact Us</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Sitemap</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">T & C</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Blog</a>
          </li>
        </ul>
      </div>
      <div class="col l2 s12">
        <span class="grey-text font-size-12">Mobile</span>
        <ul class="links">
          <li>
            <a class="grey-text text-lighten-1" href="#!">Andriod App</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Windows</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Mobile Site</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">iOS</a>
          </li>
        </ul>
      </div>
      <div class="col l2 s12">
        <span class="grey-text font-size-12">Join Us</span>
        <ul class="links">
          <li>
            <a class="grey-text text-lighten-1 pulse" href="#!">Facebook</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Twitter</a>
          </li>
          <li>
            <a class="grey-text text-lighten-1" href="#!">Google+</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footersign">
      <span data-reactid=".0.4.0.7.0">Download the app</span>
      <a target="_blank" href="#">
        <img src="./assets/google-play.png" alt="Google play">
      </a>
      <a target="_blank" href="#">
        <img src="./assets/app-store-icon.png" alt="App Store">
      </a>
      <a target="_blank" href="#">
        <img src="./assets/windows-store-btn.png" alt="Windows Store">
      </a>
      <span class="secured">secured</span>
      <img src="./assets/visa.png" alt="VISA">
      <img src="./assets/mastercrd.png" alt="MasterCard">
      <a href="https://sisainfosec.com/site/certificate/87806617098910504016" target="_blank">
        <img src="./assets/secure.png" alt="SecureScan">
      </a>
      <a href="https://www.globalsign.com/en/" target="_blank">
        <img src="./assets/geotrust.png" alt="GeoTrust">
      </a>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container grey-text text-darken-4 ">
      © Baggge Payment Technologies Pvt. Ltd. All Rights Reserved.
    </div>
  </div>
</footer>


<div #modal id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4 class="center-align orange-text text-darken-3">BAGGGE</h4>
    <div class="row maincontent">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3">
            <a class="active" href="#test1">Login</a>
          </li>
          <li class="tab col s3">
            <a href="#test2">Register</a>
          </li>
        </ul>
      </div>
      <div id="test1" class="col s12">
        <div class="loginpanel">
          <div class="_1L2e4">
            <form method="post" autocomplete="off">
              <div class="_3K7IU">
                <div class="input-container _1PxYj false">
                  <input type="text" placeholder="Email Id/Mobile Number" name="username" value="">
                </div>
                <div class="input-container _1PxYj false">
                  <input type="password" placeholder="Password" name="password" value="">
                </div>
                <div class="forgotpanel">
                  <div class="_2hayM">Forgot Password?</div>
                </div>
                <button class="orange darken-3 btn">Login</button>
                <div class="_1sPSD"></div>
              </div>
            </form>
          </div>
          <div class="mp409 ">
            <div class="or">OR</div>
            <div>
              <span class="loginwith facebook"> Login with Facebook </span>
              <span class="loginwith google">Login with Google</span>
            </div>
          </div>
        </div>
      </div>
      <div id="test2" class="col s12">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="Username" id="first_name" type="text" class="validate">
                <label for="first_name">User Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="tel" class="validate">
                <label for="last_name">Phone Number</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="first_name" type="password" class="validate">
                <label for="first_name">Password</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="password" class="validate">
                <label for="last_name">Confirm Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
              <div class="input-field col s6">
                <a class="waves-effect  waves-light orange darken-2 btn">Sign Up</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="progress">
  <div class="indeterminate"></div>
</div>
