.column {
    height: 43vh;  /*allows both columns to span the full height of the browser window*/
    display: flex;
    flex-direction: column;  /*places the left and right headers above the bottom content*/
}

#left {
    flex-shrink: 0;
    flex:1;
    background:#094b75;
    box-shadow: inset -1px 0px 3px 1px #00113B;
    height:100%;  /*makes sure that content is not cut off in a smaller browser window*/
}
.main{
    display: flex;
    height: 100vh;
    flex-direction: row;
}
ul {
    display: inline-flex;
    list-style: none;
}
#right{
    flex:7;
    background:#fff;
    height:100%;
    padding:10px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}
.bottom {
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto;  /*adds scroll to this container*/
}

a{
    span{
        padding: 10px;
        vertical-align: text-bottom;
    }
}

.collection{
    margin:0px;
    font-size: 12px;
}
.collection-item:hover{
     background:#fb8c00;
      color:white;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}
::-moz-scrollbar{
   width: 0px;  /* remove scrollbar space */
    background: transparent;
}

.open{
  z-index: 1003;
  display: block;
  opacity: 1;
  top: 5%;
  transform: scaleX(1) scaleY(1);
}