._37F1f{    position: relative;
    border: 1px solid #f1f1f1;
    text-align: center;
    color: #a4a9ac;
    display: inline-block;
    width: 20.66%;
    height: 250px;
    overflow: hidden;
    margin: 0 0 4% 4%;
    padding: 20px;
    span{
      background: #f7f7f7;
    color: #a5a5a5,3%;
    padding: 5px;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    }
    ._3VHlK{
      img{
      width: 100%;
      height: auto;
      margin-top: 10px;
      }
    }
    ._2fwR5{
      text-align:left;
      h3{
        font-size: 14px;
    font-weight: 600;
    color: #4c4c4c;
    margin: 10px;
    text-align: center;
      }
      p{
            position: relative;
    color: #a5a5a5;
    font-size: 12px;
    margin-top: 6px;
    height: 55px;
    overflow: hidden;
      }
    }
  }
