.menu-itemm{
    a{
        color: #fff;
        float: left;
        width: 100%;
        border-bottom: 1px solid #00214B;
        line-height: 40px;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        i{
            background: #fafafa;
            color: #094b75;
            height: 40px;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            font-size: 20px;
            float: left;
            margin-right: 20px;
            line-height: 40px;
            padding: 0px 10px 0px 5px;
            position: relative;
            &:after {
                left: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(255, 255, 255, 0);
                border-left-color: #fafafa;
                border-width:20px 8px 20px 8px;
                margin-top: -20px;
                transition: all 0.5s ease;
                    -webkit-transition: all 0.5s ease;
            }
        }
        &:hover{
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            i{
                padding: 0px 10px 0px 20px;
                background: #bfda0a;
                transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
                &:after {
                    border-left-color: #bfda0a;
                    transition: all 0.5s ease;
                    -webkit-transition: all 0.5s ease;
                }
            }
        }
    }
}