// Import your custom input theme file so you can call the custom-input-theme function
@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400,500,700,800');
*{
    margin:0px;
    padding:0px;
    font-family: 'Catamaran', sans-serif;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

  main {
    flex: 1 0 auto;
  }
