// Import your custom input theme file so you can call the custom-input-theme function
@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400,500,700,800');
*{
    margin:0px;
    padding:0px;
    font-family: 'Catamaran', sans-serif;
}
input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #bfda0a !important;
  box-shadow: 0 1px 0 0 #bfda0a !important;
}
input:not([type]):focus:not([readonly]) + label, input[type="text"]:not(.browser-default):focus:not([readonly]) + label, input[type="password"]:not(.browser-default):focus:not([readonly]) + label, input[type="email"]:not(.browser-default):focus:not([readonly]) + label, input[type="url"]:not(.browser-default):focus:not([readonly]) + label, input[type="time"]:not(.browser-default):focus:not([readonly]) + label, input[type="date"]:not(.browser-default):focus:not([readonly]) + label, input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label, input[type="datetime-local"]:not(.browser-default):focus:not([readonly]) + label, input[type="tel"]:not(.browser-default):focus:not([readonly]) + label, input[type="number"]:not(.browser-default):focus:not([readonly]) + label, input[type="search"]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label{
  color: #bfda0a !important;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    letter-spacing: 0.02rem;
}

main {
  flex: 1 0 auto;
}
h2 {
  color: #094b75;
  font-size: 1.7rem !important;
  font-weight: 800 !important;
  margin-bottom: 5px !important;
}
.descriptionTitle {
  color: #094b75;
  font-size: 1.4rem;
  font-weight: 500;
}
.btn, .btn-large{
background-color: #094b75 !important;
&:hover{ color: #bfda0a;}
}